/** @format */

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
	&:hover {
		filter: drop-shadow(0 0 2em #646cffaa);
	}
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}
.card {
	padding: 2em;
	.files-field {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2em 0;
		padding: 1em;
		min-width: 30rem;
		min-height: 10rem;
		background-color: black;
		border-radius: 0.5rem;
		border: 3px solid gray;
		cursor: pointer;
		& > .file {
			display: flex;
			justify-content: space-between;
			width: 100%;
			& > span {
				display: block;
			}
			span:first-of-type {
				margin-right: .5rem;
			}
			span:nth-of-type(2) {
				margin-left: .5rem;
			}
		}
	}
	.files-field.drag-active {
		border: 3px solid white;
	}
	input[type = "file"] {
		display: none;
	}
	.upload-result {
		padding: 5px 1rem;
		background-color: limegreen;
		border-radius: 5px;
	}
	.upload-result.error {
		background-color: firebrick;
	}
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.read-the-docs {
	color: #888;
}
